[submodule "etl_utils"]
	path = etl_utils
	url = git@github.com:anelendata/etl_utils.git
[submodule "aws_utils"]
	path = aws_utils
	url = git@github.com:anelendata/aws_utils.git
[submodule "fgops"]
	path = fgops
	url = git@github.com:anelendata/fgops.git
[submodule "tap_webcrawl"]
	path = tap_webcrawl
	url = git@github.com:anelendata/tap_webcrawl.git
[submodule "target-bigquery"]
	path = target-bigquery
	url = git@github.com:anelendata/target-bigquery.git
